<style>
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
header {
background-color: #971d1d;
color: white;
padding: 10px;
text-align: center;
}
footer {
background-color: #5a367c;
color: white;
padding: 10px;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
}
section {
padding: 20px;
border-bottom: 1px solid #ccc;
}
article {
background-color: #9ca550;
padding: 10px;
margin-bottom: 20px;
}
a {
color: white;
}
</style>
